<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Live Streaming Demonstration</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <ul>
        <li>WASD - движение</li>
        <li>Пробел - остановка</li>
        <li>Shift - Разворот</li>
    </ul>
</body>
<script src="/static/main.js"></script>

</html>