<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Live Streaming Demonstration</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <main>
        <section class="panel">
            <img src="/video">
            <section id="movement-buttons">
                <button onclick="sendKey('w')">W</button>
                <div>
                    <button onclick="sendKey('a')">A</button>
                    <button onclick="sendKey('Shift')">Shift</button>
                    <button onclick="sendKey('d')">D</button>
                </div>
                <button onclick="sendKey('s')">S</button>

                <button onclick="sendKey(' ')">Стоп - Пробел</button>
            </section>
        </section>
        <section class="panel">
            <img src="https://placehold.co/600x400">
        </section>
    </main>
</body>
<script src="/static/main.js"></script>

</html>