<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Live Streaming Demonstration</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body style="display: flex; gap: 12px;">
    <ul>
        <li>WASD - движение</li>
        <li>Пробел - остановка</li>
        <li>Shift - Разворот</li>
        <hr>
        <li>i - подъём актуатора</li>
        <li>k - спуск актуатора</li>
        <hr>
        <li>u - подъём платформы</li>
        <li>j - спуск платформы</li>
        <hr>
        <li>p - задвижение платформы</li>
        <li>o - выдвиг платформы</li>
        <hr>
        <li>n - захват</li>
        <li>m - отпустить</li>
    </ul>
    <img src="/static/1.jpg" width="1000px">
</body>
<script src="/static/main.js"></script>

</html>